body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 2px 0px 12px 50px;padding: 5px;border: none;width: 1112;}
#page_1 #id1_1 {border:none;margin: 225px 0px 0px 8px;padding: 0px;border:none;width: 1104px;overflow: hidden;}
#page_1 #id1_2 {border:none;margin: 13px 0px 0px 13px;padding: 0px;border:none;width: 1088px;overflow: hidden;}

#page_1 #p1dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1112px;height:772px;}
#page_1 #p1dimg1 #p1img1 {width:1112px;height:772px;}




#page_2 {position:relative; overflow: hidden;margin: 2px 0px 11px 8px;padding: 0px;border: none;width: 1107px;}

#page_2 #p2dimg1 {position:absolute;top:0px;left:2px;z-index:-1;width:1104px;height:731px;}
#page_2 #p2dimg1 #p2img1 {width:1104px;height:731px;}




#page_3 {position:relative; overflow: hidden;margin: 2px 0px 15px 2px;padding: 0px;border: none;width: 1112px;}

#page_3 #p3dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:1112px;height:734px;}
#page_3 #p3dimg1 #p3img1 {width:1112px;height:734px;}




#page_4 {position:relative; overflow: hidden;margin: 795px 0px 0px 0px;padding: 0px;border: none;width: 0px;height: 0px;}


table{
    margin-left: 20px;
}


.dclr {clear:both;float:none;height:1px;margin:0px;padding:0px;overflow:hidden;}


.n {
   margin:0px;
    padding:0px;
    padding-left: 10px; 
    overflow:hidden;
    color: #BB3434    ;
}

/*--------------  header Table Start ----------*/


.right{
    text-align: right;
}
.center{
    text-align: center;
}

.bold{
    color: #98455F;
}

.jumbotron{
    height: 275px;
    background-color: rgb(80,130,188);
    color:white;
        
}
.logo{
    padding: 0;
    margin-top: -30px;;
}
.brandname{
    margin-left: 20%;
    margin-top: 25px;
}
.subhead{
    font-size: 15px;
    
    margin-left: 20%;
    margin-top: 25px;
}

.intro{
  
    
}

.hr-head{
        margin-left: 10rem;
    margin-right: 10rem;
    border-top: 1px solid rgb(80,130,188);
    
}

.name{
    color: rgb(161,189,221);
    margin-left: -10px;
    
}
.footer{
    background-color: rgb(80,130,188);
    color:white;
}
.footer-text{
    text-align: center;
    padding: 5px;
}

.qwer{
    margin-right: 50px;
}

/*----------------end--------------------*/


